*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    margin-inline: 275px;
}

a{
    text-decoration: none;
    color: black;
}

.goback{
    margin-bottom: 10px;
}

.heading{
    display: flex;
    justify-content: space-between;
}
.add-to-fav p{
    font-size: 22px;
    color: red;
}

body img{
    margin: 10px 0;
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
.button-container{
    display: flex;
    justify-content: left;
    column-gap: 12px;
    padding: 5px 0;
}
.button{
    color: white;
    font-size: medium;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.level-button{
    background-color: rgb(78, 78, 255);
}
.dur-button{
    background-color: green;
}
.type-button{
    background-color: rgb(255, 39, 39);
}

.ingredients-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}
.ingredients-container button{
    width: auto;
    height: auto;
    padding:6px 8px;
    font-size: small;
    background-color: #a5a3a3;
    border: none;
    border-radius: 5px;
}

.instr-container h3{
    padding: 10px 0;
}
.instr-container ol{
    margin:5px 0 40px 40px;
}